<header class="sticky left-0 top-0 z-50 w-full bg-transparent">
  <nav
    class="h-auto rounded-b-2xl bg-nav bg-opacity-50 shadow-md backdrop-blur-md md:mx-auto md:max-w-screen-xl"
  >
    <div class="md:flex md:justify-between">
      <div class="flex flex-wrap items-center justify-between py-3 pe-3">
        <a href="#">
          <img src="/uploads/portfolio.png" class="h-10" alt="Portfolio Logo" />
        </a>
        <!-- Bouton menu burger -->
        <button
          (click)="toggleMenu()"
          type="button"
          class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-black sm:hidden hover:bg-gray-100 focus:ring-2 focus:ring-titre"
          [attr.aria-controls]="'navbar-default'"
          [attr.aria-expanded]="isMenuOpen"
        >
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
        <!-- Menu de navigation -->
        <div
          *ngIf="isMenuOpen || screenWidth >= 768"
          id="navbar-default"
          class="w-full md:block md:w-auto"
        >
          <ul
            class="ms-4 mt-4 flex flex-col font-medium md:mt-0 md:flex-row md:space-x-2 lg:space-x-8 md:p-0 rtl:space-x-reverse"
          >
            <li>
              <a
                href="#projet"
                (click)="closeMenu()"
                class="block px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
              >
                Projets
              </a>
            </li>
            <li>
              <a
                href="#hard"
                (click)="closeMenu()"
                class="block rounded px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
              >
                Hard skills
              </a>
            </li>
            <li>
              <a
                href="#soft"
                (click)="closeMenu()"
                class="block rounded px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
              >
                Soft skills
              </a>
            </li>
            <li>
              <a
                href="#hobby"
                (click)="closeMenu()"
                class="block rounded px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
              >
                Hobbies
              </a>
            </li>
            <li>
              <a
                href="mailto:kadourinabil7@gmail.com"
                (click)="closeMenu()"
                class="block rounded px-3 py-2 text-bleu hover:bg-white md:hidden md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="my-3 me-8 hidden rounded-2xl border-2 border-bleu hover:border-white px-3 py-2 md:flex md:items-center md:hover:text-white"
      >
        <a
          href="mailto:kadourinabil7@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded font-medium text-bleu hover:bg-bleu md:hover:bg-transparent md:hover:text-white"
        >
          Contactez-moi
        </a>
      </div>
    </div>
  </nav>
</header>
<app-hero></app-hero>