<header  class="sticky left-0 top-0 z-50 w-full bg-transparent">
  <nav
    class="h-auto rounded-b-2xl bg-nav bg-opacity-50 shadow-md backdrop-blur-md md:mx-auto md:max-w-screen-xl"
  >
    <div class="md:flex md:justify-between">
      <div class="flex flex-wrap items-center justify-between py-3 pe-3">
        <a href="accueil">
          <img src="uploads/logo-myportfolio.webp" class="h-10" alt="Portfolio Logo" />
        </a>
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="ms-4 mt-4 flex flex-col font-medium md:mt-0 md:flex-row md:space-x-2 lg:space-x-8 md:p-0 rtl:space-x-reverse "
          >
           
            <li>
              <a
                href="#projet"
                class="block px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
                >Projets</a
              >
            </li>
            
            <li>
              <a
                href="#hard"
                class="block rounded px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
                >Hard skills</a
              >
            </li>
            <li>
              <a
                href="#soft"
                class="block rounded px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
                >Soft skills</a
              >
            </li>
            <li>
              <a
                href="#hobby"
                class="block rounded px-3 py-2 text-white hover:bg-bleu md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
                >Hobbies</a
              >
            </li>
            <li>
              <a
                href="mailto:kadourinabil7@gmail.com"
                class="block rounded px-3 py-2 text-bleu hover:bg-white md:hidden md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-bleu"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="my-3 me-8 hidden rounded-2xl border-2 border-bleu hover:border-white px-3 py-2 md:flex md:items-center md:hover:text-white"
      >
        <a
          href="mailto:kadourinabil7@gmail.com" target="_blank" rel="noopener noreferrer"
          class="rounded font-medium text-bleu hover:bg-bleu md:hover:bg-transparent md:hover:text-white"
          >Contactez-moi</a
        >
      </div>
    </div>
  </nav>
</header>

<app-hero></app-hero>
