<section class="md:mx-auto md:max-w-screen-xl mb-5">

  <div class="flex flex-col justify-center items-center ">
    <a href="https://flowbite.com/">
      <img src="uploads/logo-myportfolio.webp" class="h-12 " alt="Portfolio Logo" />
    </a>
    <div class="flex flex-col md:grid grid-flow-col auto-cols-max gap-2  justify-center items-center font-texte font-medium text-[14px] sm:text-[12px] md:text-[14px] lg:text-[16px] ">
      <a href="">
        <h3 class="text-bleu">Conditions d’utilisation et politique de confidentialité</h3>
      </a>
      <a href="">
      <h3 class="text-bleu">Donnez-nous votre avis</h3>
      </a>
      <a href="">
        <h3 class="text-bleu">Aide</h3>
      </a>
      <a href="">
      <h3>© create 2024, nk-dev.fr, Inc. ou ses filiales</h3>
      </a>
    </div>
  </div>
</section>
