<section
  class="relative z-0 -mt-16 mb-[30px] h-[420px] md:mb-[50px] md:h-[580px] lg:mb-[50px] lg:h-[700px]"
>
  <!-- fond noir degrader -->
  <div class="absolute inset-0 z-40 bg-degrader-hero"></div>

  <!-- Contenu du Hero -->
  <div class="absolute top-1/2 z-50 w-full ps-7 lg:ps-36">
    <div
      class="group absolute mt-7 flex h-full flex-col justify-center text-white"
    >
      <img
        src="/uploads/newphoto.webp"
        class="my-2 h-[100px] w-[100px] rounded-full bg-gradient-radial drop-shadow-custom filter sm:my-4 md:my-6 md:h-[150px] md:w-[150px] lg:h-[200px] lg:w-[200px]"
        alt="ma photo de profil"
      />
      <h1
        class="font-roboto sm:text-[28px]md:text-[42px] flex flex-col tracking-wide 
        font-roboto sm:text-[32px]md:text-[42px] tracking -wide text-[28px] font-medium leading-tight text-shadow-custom sm:leading-snug sm:tracking-[0.25em] md:leading-normal md:tracking-[0.3em] lg:text-[48px]"
      >
        KADOURI
        <span
          class="font-roboto sm:text-[32px]md:text-[42px] tracking -wide text-[28px] font-medium text-shadow-custom sm:leading-snug sm:tracking-[0.25em] md:leading-normal lg:text-[48px]"
        >
          NABIL
        </span>
      </h1>
      <h2
        class="font-open-sans my-2 text-[22px] font-medium text-[#35E89D] sm:my-4 sm:text-[26px] md:my-6 md:text-[28px] lg:text-[36px]"
      >
        Développeur web
      </h2>
      <div
        class="hidden w-[250px] rounded-lg bg-opacity-90 text-[12px] text-white transition-all duration-1000 ease-linear group-hover:block sm:w-[220px] sm:text-[13px] md:w-[400px] md:text-[16px] lg:w-[575px] lg:text-[18px]"
      >
        <strong>Saison 1 :</strong> Nabil est un créateur passionné qui
        transforme chaque défi en une opportunité d'innovation. Plongez dans son
        univers, où le code devient une aventure captivante...
      </div>
      <div
        class="my-2 flex items-center gap-2 sm:my-4 sm:gap-5 md:my-6 md:gap-6"
      >
        <div
          class="flex gap-2 rounded-lg bg-white px-2 py-1 transition-all hover:bg-bleu sm:gap-2"
        >
          <img
            src="/svg/triangle.svg"
            alt="icone triangle"
            class="rotate-90 transform"
          />

          <div
            class="font-open-sans text-center text-[10px] font-bold text-black sm:text-[13px] md:text-[14px] lg:text-[16px]"
          >
            Voir mon
            <span style="display: block">CV</span>
          </div>
        </div>

        <a href="">
          <img
            src="/svg/email.svg"
            class="w-[28px] rounded-full border bg-white p-1 transition-all hover:bg-bleu sm:w-[35px] md:w-[45px]"
            alt=""
          />
        </a>
        <a href="">
          <img
            src="/svg/linkedin.svg"
            class="w-[28px] rounded-full bg-white p-1 transition-all hover:bg-bleu sm:w-[30px] md:w-[45px]"
            alt=""
          />
        </a>
        <a href="">
          <img
            src="/svg/github.svg"
            class="w-[28px] rounded-full bg-white transition-all hover:bg-bleu sm:w-[30px] md:w-[45px]"
            alt=""
          />
        </a>
      </div>

      <div class="flex items-center gap-1 sm:gap-2">
        <img
          src="/svg/panier.svg"
          alt=""
          class="w-[12px] sm:w-[14px] md:w-[18px]"
        />
        <p
          class="font-open-sans my-2 text-[12px] sm:my-4 sm:text-[13px] md:my-6 md:text-[16px] lg:text-[18px]"
        >
          Disponible à l’achat ou la location
        </p>
      </div>
    </div>
  </div>
  <div class="relative h-full w-full overflow-hidden">
    <!-- Carrousel Vertical -->
    <div
      *ngFor="let item of carouselItems; let i = index"
      class="absolute right-0 top-0 flex h-full w-full flex-col justify-center transition-all duration-500"
      [class.fade-in-smoke]="i === currentIndex"
      [class.fade-out-smoke]="i !== currentIndex"
    >
      <!-- Image semi-transparente -->
      <div
        class="absolute inset-0 z-10 h-full w-full bg-cover bg-center opacity-90 transition-all duration-500"
        [ngStyle]="{ 'background-image': 'url(' + item.imageSrc + ')' }"
      ></div>
  
      <!-- Texte au premier plan -->
      <div
        class="absolute right-3  md:top-1/3 z-40 w-[50%] sm:w-[50%] lg:w-[45%] 
        text-background px-4 "
      >
        <p
          class="mb-1 text-[8px] sm:text-sm md:text-lg lg:text-xl text-white text-shadow-strong"
        >
          {{ item.date }}
        </p>
        <h3
          class="mb-3 text-xs font-extrabold sm:text-2xl md:text-3xl lg:text-4xl text-white text-shadow-strong "
        >
          {{ item.title }}
        </h3>
        <p
          class="line-clamp-3 text-xs sm:text-base md:text-lg lg:text-xl font-medium "
        >
          {{ item.description }}
        </p>
      </div>
    </div>
  </div>
</section>
