<section class="m-auto lg:max-w-screen-xl px-7 mb-[30px] md:mb-[50px] lg:mb-[50px]">
  <h2 class="font-titre font-bold text-[20px] md:text-[28px] lg:text-[36px] pb-6">
    Top 4 des centres d'intérêts
  </h2>
  <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-[20px] justify-center">
    <div *ngFor="let hobbies of hobby"
      class="relative group overflow-hidden transition-all duration-300 bg-bleu rounded-lg shadow-[0_4px_10px_rgba(255,255,255,0.15),0_-4px_15px_rgba(0,0,0,0.8)] border border-nav">
      
      <!-- Titre de la carte -->
      <h3 class="text-center font-titre font-medium text-[16px] sm:text-[18px] md:text-[18px] lg:text-[24px]">
        {{ hobbies.title }}
      </h3>
      
      <!-- Image de base -->
      <img 
        [src]="hobbies.image" 
        alt="{{ hobbies.title }}" 
        class="object-cover transition-transform duration-500 group-hover:scale-125" 
      />
      
      <!-- Vidéo masquée par défaut -->
      <video 
        [src]="hobbies.video"
        class="absolute top-0 left-0 w-full h-full  opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        loop
        muted
        (mouseenter)="playVideo($event)"
        (mouseleave)="pauseVideo($event)">
      </video>
    </div>
  </div>
</section>
