<section class=" mb-[50px] sm:mb-[40px] md:mb-[50px] lg:mb-[60px]">
  <h2 class="m-auto lg:max-w-screen-xl px-7 font-titre font-bold text-[24px] sm:text-[26px] md:text-[28px] lg:text-[36px] pb-6">A découvrir : Projets du moment</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-[20px]  m-auto lg:max-w-screen-xl px-7 ">
    <div
      *ngFor="let projet of projets"
      class="relative group  overflow-hidden transition-all duration-300  bg-bleu rounded-lg shadow-[0_4px_10px_rgba(255,255,255,0.15),0_-4px_15px_rgba(0,0,0,0.8)] border border-gray-700 "
    >
      <!-- Image -->
      <img
        [src]="projet.image"
        alt="{{ projet.title }}"
        class=" object-cover transition-transform duration-500 group-hover:scale-125  "
      />
  
      <!-- Content (hidden by default, appears on hover) -->
      <div
        class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-90 transform translate-y-full group-hover:translate-y-0 transition-transform duration-500 p-3 h-full"
      >
        <h3 class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[25px] font-titre font-bold mb-3 text-center ">{{ projet.title }}</h3>
  
        <!-- SVG Icons -->
        <div class="flex items-center gap-2 mb-2">
          <img
            *ngFor="let icon of projet.svgIcons"
            [src]="icon"
            alt="SVG Icon"
            class="w-[15px] sm:w-[16px] md:w-[20px] lg:w-[24px] h-auto"
          />
        </div>
        
  
        <!-- disponibility -->
        <div class="flex items-center ">
          <img
          [src]="projet.icone" 
          alt="Icone disponibility"
          class="sm:w-3 md:w-6 lg:w-18  "
        />
          <p class="text-[10px] sm:text-[12px] md:text-[14px] font-texte ps-1 font-medium">{{ projet.disponibility }}</p>
          
        </div>
  
        <!-- Year, Duration, Audience -->
        <div class="flex items-center  text-[10px] sm:text-[10px] md:text-sm font-texte font-normal my-2 ">
          <span class="">{{ projet.year }}</span>
          <span class="mx-2">{{ projet.duration }}</span>
          <span class="bg-nav rounded-md p-1 ms-10">{{ projet.audience }}</span>
        </div>
  
        <!-- Description -->
        <p class="text-[12px] sm:text-[12px] md:text-[15px] font-texte mb-2 pe-3">{{ projet.description }}</p>
  
        <!-- GitHub Link -->
        <a
          [href]="projet.github"
          target="_blank"
          class="text-blue-400 underline hover:text-blue-300 text-[10px] font-texte font-medium "
        >
          {{ projet.github }}
        </a>
      </div>
    </div>
  </div>
</section>

