button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.carousel-container {
  overflow: hidden;
  position: relative;
}
