/* Supprimer la barre de défilement */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carousel {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
}
